<div class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" style="left: 0; padding-top: 5%">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="$hide()"
					ng-disabled="doing">&times;</button>
				<h4 class="modal-title">{{confirmTitle}}</h4>
			</div>
			<div class="modal-body">

				<div class="row">
					<div class="col-lg-12" style="line-height: 25px">
						<p>
							订单遍号：{{commFunc.foo(orderTable.selectItem.order_id, 8)}} <br>
							<!-- 提交时间：{{getDate(selectItem.createdate)}}&nbsp;&nbsp;&nbsp;&nbsp;{{getTime(selectItem.createdate)}} -->
							提交时间：{{commFunc.formatDate(orderTable.selectItem.create_date)}}
						</p>
					</div>
				</div>
				<div class="row" style="text-align: center">
					<a class="btn btn-lg" ng-disabled="doing"
						style="background-color: #007aff; height: 39px; width: 100px; vertical-align: middle; border-radius: 0; color: white; font-size: 14px;"
						ng-click="confirmOK(orderTable.selectItem)">确定 </a> <a
						class="btn btn-lg" ng-disabled="doing"
						style="background-color: #f40; height: 39px; width: 100px; vertical-align: middle; border-radius: 0; color: white; font-size: 14px;"
						ng-click="$hide();confirmCancel()">取消 </a>
				</div>
			</div>
		</div>
	</div>
</div>