
<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" media="screen" />
<base href="/" />


<title>MeiYaBuy - 登录</title>

<link href="css/style.css" rel="stylesheet">
<link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="css/font-awesome.min.css" rel="stylesheet">
<link href="css/iCheck.css" rel="stylesheet">
<link href="css/animate.min.css" rel="stylesheet">
<link href="css/style.min.css" rel="stylesheet">
<!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
</head>

<body class="gray-bg" ng-app="loginApp" ng-controller="userController">

	<h2 class="logo-name" style="text-align:center;font-size:100px">MeiYaBuy</h2>

	<div class="middle-box text-center loginscreen  animated fadeInDown">
		<div>
			<div></div>
			<h2>欢迎使用 MeiYaBuy</h2>

			<form class="form-horizontal" role="form" style="margin-top: 20px" autocomplete="off">
				<div class="form-group">
					<label class="col-sm-3 control-label">用户名</label>
					<div class="col-sm-9">

						<input class="form-control" placeholder="用户名" required="" name=nm"
							ng-model="user.name" style="ime-mode:disabled">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">密码</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" placeholder="密码"
							required="" ng-model="user.pwdstr" name="pd" style="ime-mode:disabled">
					</div>
				</div>
				<div class="input-group" ng-show="errorLogin">
					<span style="color: Red" ng-bind="errorLogin"></span>
				</div>
				<button class="btn btn-primary block full-width m-b"
					ng-click="submit()">登 录</button>

				<p class="text-muted text-center">
					<a ng-click="chartToCs()"><small>忘记密码了？</small></a> | <a
						href="javascript:void(0)" ng-click="register()">注册一个新账号</a>
				</p>

			</form>
		</div>
	</div>
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery-ui-1.10.4.min.js"></script>
	<script src="js/jquery-ui-1.9.2.custom.min.js"></script>
	<!-- bootstrap -->
	<script src="js/bootstrap.js"></script>
	<script src="angular/Component/angular.js"></script>
	<script src="angular/Component/angular-md5.js"></script>
	<script src="angular/Login/login.module.js"></script>
</body>

</html>
