a {
	text-decoration: none;
}

.btn_addPic {
	display: inline-block;
	position: relative;
	width: 120px;
	height: 120px;
	overflow: hidden;
	border: 1px solid #EBEBEB;
	color: #999999;
	cursor: pointer;
	text-align: center;
	background-repeat: no-repeat;
	background-image: url(../img/upload-bg-1.jpg);
	background-position: top;
}

.filePrew {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 120px;
	height: 120px;
	font-size: 0px; /* ����ͬ������Ŀɵ������ */
	opacity: 0; /* ʵ�ֵĹؼ��� */
	filter: alpha(opacity = 0); /* ����IE */
}

.delteImg {
	z-index:200;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	line-height:10px;
	text-align:center;
	font-weight:bold;
	cursor:pointer;
	font-size:10px;
	position:absolute;
	top:-5px;
	display:inline-block;
}