<section class="wrapper">
	<div class="row" ng-show="$ctrl.tableShow">
		<div class="col-lg-12 col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2>
						<i class="{{$ctrl.icon}}"></i>{{$ctrl.title}}
					</h2>
				</div>
				<div class="widget-content padded clearfix"
					ng-if="$ctrl.recordSize==0">
					未查询到符合条件的订单数据！</div>
				<div class="widget-content padded clearfix"
                    ng-if="$ctrl.pageError">
                    查询订单数据时出错：{{$ctrl.pageError}}！</div>
				<div class="widget-container fluid-height clearfix"
					ng-if="$ctrl.recordSize>0">
					<div class="widget-content padded clearfix">
						<table class="table table-hover">
							<thead>
								<th width="9%">订单号</th>
								<th>商品描述</th>
								<th width="15%">商品截图</th>
								<th width="10%">商品链接</th>
								<th width="5%">数量</th>
								<th width="12%">总价格</th>
								<th class="hidden-xs" width="10%">创建时间</th>
								<th class="hidden-xs" width="5%">状态</th>
							</thead>
							<tbody>
								<tr ng-repeat="item in $ctrl.orderList">
									<td>{{$ctrl.foo(item.order_id, 8)}}</td>
									<td>{{item.product_descript}}</td>
									<td><a
										ng-repeat="img in $ctrl.getUrlList(item.product_photo_url)"
										href="{{img}}" target="_blank"><img ng-src="{{img}}"
											width="40px" height="40px" /></a></td>
									<td><a href="{{item.link}}" target="_blank"
										alt="{{item.link}}">{{$ctrl.getShowLink(item.link)}}</a></td>
									<td>{{item.product_quantity}}</td>
									<td><a href="javascript:void(0);" style="color:red"
										ng-click="$ctrl.showDetail(item)">￥{{$ctrl.calcTotal(item).toFixed(2)}}</a></td>
									<td class="hidden-xs">
										{{$ctrl.getDate($ctrl.formatDate(item.create_date))}}&nbsp;&nbsp;
										{{$ctrl.getTime($ctrl.formatDate(item.create_date))}}</td>
									<td class="hidden-xs"><label
										style="display: inline-block; line-height: 2; width: 60px;"
										class="label {{$ctrl.getStatusClass(item.status)}}">
											{{$ctrl.getStatus(item.status)}}</label></td>
								</tr>
							</tbody>
						</table>
						<ul class="pagination" style="margin: 0px;">
							<li ng-class="{true:'disabled'}[$ctrl.p_current==1]"><a
								href="javascript:void(0);" ng-click="$ctrl.p_index()">首页</a></li>
							<li ng-repeat="page in $ctrl.pages"
								ng-class="{true:'active'}[$ctrl.p_current==page]"><a
								href="javascript:void(0);" ng-click="$ctrl.load_page(page)">{{
									page }}</a></li>
							<li ng-class="{true:'disabled'}[$ctrl.p_current==$ctrl.p_all_page]"><a
								href="javascript:void(0);" ng-click="$ctrl.p_last()">尾页</a></li>
						</ul>
						<span style="vertical-align: 12px;"> 共{{$ctrl.recordSize}}条记录</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>