<?xml version="1.0" encoding="utf-8" ?>
<b:beans xmlns="http://www.springframework.org/schema/security"
       xmlns:b="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
               http://www.springframework.org/schema/beans/spring-beans.xsd
               http://www.springframework.org/schema/security
               http://www.springframework.org/schema/security/spring-security.xsd">
               
    <global-method-security jsr250-annotations="enabled" />
	
	<http pattern="/login.html*" security="none"/>
    <http pattern="/**/*.css" security="none" />  
    <http pattern="/**/*.js" security="none" />
    <http pattern="/**/*.jpg" security="none" />  
    <http pattern="/**/*.png" security="none" />  
    <http pattern="/**/*.gif" security="none" />
    <http pattern="/**/*.eot" security="none" />  
    <http pattern="/**/*.svg" security="none" /> 
    <http pattern="/**/*.ttf" security="none" /> 
	
	<http auto-config="true" use-expressions="false"> 
         <intercept-url pattern="/**" access="ROLE_USER, ROLE_ADMIN" />
	     <access-denied-handler error-page="/access_denied.html" /> 
         <logout logout-success-url="/login.html" />
         <form-login login-page="/login.html" default-target-url="/" 
                authentication-failure-url="/login.html?error=1" always-use-default-target="true" />
	</http>
	

	<authentication-manager>
	    <authentication-provider user-service-ref="myUserDetailsService">
	       <password-encoder ref="bcryptEncoder" />
	    </authentication-provider>
	</authentication-manager>
	
	<b:bean id="bcryptEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />
	<b:bean id="myUserDetailsService" class="com.web.security.MyUserDetailsService" />
	
</b:beans>