<div class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" style="left: 0;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="$hide()" ng-disabled="doing">&times;</button>
				<h4 class="modal-title">新增佣金数据</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<form role="form" class="form-validate form-horizontal table"
                        novalidate>
                        <div class="form-group">
                            <label class="control-label col-lg-3 col-md-5">商品查找类型<span
                                class="required">*</span>
                            </label>
                            <div>
                                <label class="checkbox-inline"> <input ng-disabled="doing"
                                    name="newcommisionsrvmode" style="margin-right: 10px;" type="radio"
                                    ng-value="1" ng-model="newcommision.srvmode" />
                                    亚马逊链接
                                </label>
                                <label class="checkbox-inline"> <input ng-disabled="doing"
                                    name="newcommisionsrvmode" style="margin-right: 10px;" type="radio"
                                    ng-value="2" ng-model="newcommision.srvmode" />
                                    关键词搜索
                                </label>
                            </div>
                        </div>
						<div class="form-group">
                            <label class="control-label col-lg-3 col-md-5">订单佣金金额($)<span
                                class="required">*</span>
                            </label>
                            <div class="col-lg-8 col-md-6">
                                <input class="form-control" required type="number" ng-disabled="doing"
                                    ng-model="newcommision.fee1" />
                            </div>
                        </div>
						<div class="form-group">
                            <label class="control-label col-lg-3 col-md-5">留评佣金金额($)<span
                                class="required">*</span>
                            </label>
                            <div class="col-lg-8 col-md-6">
                                <input class="form-control" required type="number" ng-disabled="doing"
                                    ng-model="newcommision.fee2" />
                            </div>
                        </div>
                    </form>
                    <div class="col-lg-12"
                        style="color: red; margin: 10px 15px 15px 0; font-size: 12px; text-align: right;"
                        nf-if="basedataerror">
                        {{basedataerror}}
                    </div>
					<div style="float: right; margin-right:15px">
						<a class="btn btn-lg btn-important btn-important-red"  ng-disabled="doing"
						ng-click="showConfirm()">确定</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>