<div class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" style="left: 0;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="$hide()" ng-disabled="doing">&times;</button>
				<h4 class="modal-title">新增汇率</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-12">
						<p>审核意见 <span class="required">*</span>
						</p>
						<textarea id="auditMark" class="form-control" rows="4" required style="resize:none"
							ng-model="orderTable.selectItem.auditContent" ng-disabled="doing" />
					</div>
					<div class="col-lg-12 error-info">
					   {{orderTable.selectItem.auditError}}
					</div>
					<div style="float: right; margin-right:15px">
						<a  class="btn-back"
							ng-click="auditBackToDetail()"  ng-show="!doing" > <i
							class="fa fa-reply" style="padding-right: 6px" />返回
						</a> 
						<a class="btn btn-lg btn-important btn-important-red" 
						ng-click="showAuditPassConfirm(orderTable.selectItem)">通过 </a>
						<a class="btn btn-lg btn-important btn-important-blue"
							ng-click="showAuditRejectConfirm(orderTable.selectItem)">拒绝 </a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>