<div class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" style="left: 0;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="$hide()" ng-disabled="doing">&times;</button>
				<h4 class="modal-title">新增Paypal数据</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<form role="form" class="form-validate form-horizontal table"
                        novalidate>
						<div class="form-group">
                            <label class="control-label col-lg-3 col-md-5">费率(%)<span
                                class="required">*</span>
                            </label>
                            <div class="col-lg-8 col-md-6">
                                <input class="form-control" required type="number"
                                    ng-model="newpaypal.feerate" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-3 col-md-5">固定费用($)<span
                                class="required">*</span>
                            </label>
                            <div class="col-lg-8 col-md-6">
                                <input class="form-control" required type="number"
                                    ng-model="newpaypal.fee" />
                            </div>
                        </div>
                    </form>
                    <div class="col-lg-12"
                        style="color: red; margin: 10px 15px 15px 0; font-size: 12px; text-align: right;"
                        nf-if="basedataerror">
                        {{basedataerror}}
                    </div>
					<div style="float: right; margin-right:15px">
						<a class="btn btn-lg btn-important btn-important-red" 
						ng-click="showConfirm()">确定</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>